version: '3.8'

services:
  next:
    container_name: next
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
    networks:
      - next

  db:
    #    image: postgres:13
    build:
      context: ./containers/pgsql
      dockerfile: Dockerfile
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: next
      POSTGRES_USER: next
      POSTGRES_PASSWORD: next
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data
      - ./containers/pgsql/init.sh/:/docker-entrypoint-initdb.d/
    networks:
      - next

networks:
  next:
    driver: bridge